html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

body {
  margin: 0;
  color: var(--primary-text-color);
  background-color: var(--primary-bg-color);

  font-size: 14px;
  @include font(14px, 400, 1.2, 0.03em);
}
